@model TaskModel
@using Garia.Models
@using Garia.Core.Entities
@{
    ViewBag.Title = "CompletedTask";
}

<h2>CompletedTask</h2>
<div class="col-md-8">

    <div id="TaskDiv">
        @Html.Partial("_TaskComponet", @Model.TaskList)
    </div>

</div>

