@model Employee
@using Garia.Core.Entities


<div class="col-md-12" style=" margin-top:10px;">
    <center>
        <p class="font-montserrat fs-16 all-caps">
            Revenue/Budget @Model.Fname @Model.Lname
        </p>
    </center>
    <div id="ManagerChart" style="height:400px">
        <svg></svg>
    </div>

</div>

